<div class="sidenav">

    <div class="calc-wrapper">
        <img src="assets/img/calculator.png">
    </div>

    <div class="heading">Calculator</div>

    <div class="menu-wrapper">
        <a routerLink="/"><img class="icon-menu" src="assets/img/home.png"> Home</a>
        <a routerLink="/history"><img class="icon-menu" src="assets/img/history.png"> History</a>

        <a href="https://github.com/fatinabila/angular-calculator-code" target="_blank"><img class="github" src="assets/img/github.svg"></a>


    </div>

</div>

<!-- page changes here -->

<router-outlet> </router-outlet>

<!-- page changes here -->